DATABASE_URL=postgresql+asyncpg://civpulse:civpulse@localhost:5462/civpulse_geo
DATABASE_URL_SYNC=postgresql+psycopg2://civpulse:civpulse@localhost:5462/civpulse_geo
LOG_LEVEL=DEBUG
ENVIRONMENT=development
